
<p style="font-size:x-large;">Welcome to the Physics Fighter game!</p>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color:black;">
</button>
@Html.ActionLink("Goto Game", "Lobby", "Lobby", null, new { @class = "navbar-brand" })
